# Chronic Kidney Disease (CKD) Data Analysis

## Introduction
Chronic Kidney Disease (CKD) is a global health problem that affects millions of people every year. 
This project applies **data analytics techniques** to explore and analyze the CKD dataset, with the goal of 
identifying key risk factors and drawing insights that can support early detection and prevention.

## Objectives
- To clean and prepare the CKD dataset for analysis.  
- To perform exploratory data analysis (EDA) and identify important trends and patterns.  
- To visualize risk factors associated with CKD.  
- To interpret findings and provide data-driven conclusions.

In [1]:
import pandas as pd
file = "Data.xlsx"
sheets =  pd.read_excel(file,sheet_name=None)
print(sheets.keys())

dict_keys(['Data Description', 'CKD Risk Data', 'Correlation', 'Regression Model'])

In [2]:
df = sheets["CKD Risk Data"]
df.head()

,ID,Age,Residence,CKD Risk Score,Diabetes Mellitus,Blood Pressure,Hypertension,Blood Sugar,Blood Glucose,Reticulocyte Count,Packed Cell Volume,Haemoglobin,Red Blood Cell Count,White Blood Cell Count,Blood Urea,Serum Creatinine,Alcohol Intake,Physical Activity
0,1,86,Urban,82.194168,No,123,No,2,119,1.071754,20,14.7,6.05,6817,3.282934,41.590812,High,Active
1,2,66,Urban,43.231758,Yes,103,No,1,238,1.196210,23,15.1,5.04,6438,1.819046,84.642535,High,Active
2,3,24,Rural,71.791997,Yes,151,No,0,372,2.531091,40,13.6,2.67,11071,2.495975,157.521097,High,Active
3,4,40,Rural,39.146159,Yes,165,No,2,448,1.980966,30,11.8,6.30,6594,1.378014,190.107385,High,Active
4,5,43,Urban,64.029626,No,113,No,1,301,2.948063,52,15.4,4.35,12708,2.264839,152.740807,High,Active

In [3]:
df.shape

(250, 18)

In [4]:
df.isnull().sum()

ID                         0
Age                        0
Residence                  0
CKD Risk Score             0
Diabetes Mellitus          0
Blood Pressure             0
Hypertension               0
Blood Sugar                0
Blood Glucose              0
Reticulocyte Count         0
Packed Cell Volume         0
Haemoglobin                0
Red Blood Cell Count       0
White Blood Cell Count     0
Blood Urea                 0
Serum Creatinine           0
Alcohol Intake            74
Physical Activity          0
dtype: int64

In [5]:
df["Alcohol Intake"].unique()

array(['High', 'Moderate', nan], dtype=object)

In [7]:
df["Alcohol Intake"] = df["Alcohol Intake"].fillna("None")
df.isnull().sum()

ID                        0
Age                       0
Residence                 0
CKD Risk Score            0
Diabetes Mellitus         0
Blood Pressure            0
Hypertension              0
Blood Sugar               0
Blood Glucose             0
Reticulocyte Count        0
Packed Cell Volume        0
Haemoglobin               0
Red Blood Cell Count      0
White Blood Cell Count    0
Blood Urea                0
Serum Creatinine          0
Alcohol Intake            0
Physical Activity         0
dtype: int64

In [6]:
df.describe()

,ID,Age,CKD Risk Score,Blood Pressure,Blood Sugar,Blood Glucose,Reticulocyte Count,Packed Cell Volume,Haemoglobin,Red Blood Cell Count,White Blood Cell Count,Blood Urea,Serum Creatinine
count,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000
mean,125.500000,53.260000,57.983781,120.780000,2.472000,279.832000,2.065026,36.708000,11.000800,4.618600,9378.124000,2.391250,117.983519
std,72.312977,20.759098,17.737879,35.155701,1.763421,122.550882,0.585775,10.149423,3.661961,1.076358,3227.389973,0.819981,40.637299
min,1.000000,20.000000,4.323176,60.000000,0.000000,70.000000,0.874126,20.000000,5.000000,2.520000,4018.000000,0.770744,38.237198
25%,63.250000,35.250000,46.676049,91.000000,1.000000,175.250000,1.653822,27.250000,8.100000,3.892500,6564.000000,1.718965,84.701509
50%,125.500000,52.500000,58.138066,119.500000,2.000000,269.500000,2.056248,37.000000,10.900000,4.620000,9296.000000,2.383499,117.691690
75%,187.750000,72.000000,71.345585,153.000000,4.000000,380.500000,2.485562,45.000000,14.300000,5.507500,12051.750000,3.079916,151.857328
max,250.000000,89.000000,96.128144,179.000000,5.000000,499.000000,3.409239,54.000000,17.500000,6.460000,14996.000000,4.172717,205.755871

In [7]:
df['CKD Risk Score'].describe()

count    250.000000
mean      57.983781
std       17.737879
min        4.323176
25%       46.676049
50%       58.138066
75%       71.345585
max       96.128144
Name: CKD Risk Score, dtype: float64

In [8]:
df["CKD Risk Score"].skew()

np.float64(-0.2431038939876664)

In [9]:
df.kurtosis(numeric_only=True)

ID                       -1.200000
Age                      -1.238321
CKD Risk Score           -0.264414
Blood Pressure           -1.234523
Blood Sugar              -1.341916
Blood Glucose            -1.244434
Reticulocyte Count       -0.678210
Packed Cell Volume       -1.186234
Haemoglobin              -1.192259
Red Blood Cell Count     -0.923208
White Blood Cell Count   -1.197195
Blood Urea               -0.948485
Serum Creatinine         -0.965084
dtype: float64

In [10]:
df.skew(numeric_only=True)

ID                        0.000000
Age                      -0.011807
CKD Risk Score           -0.243104
Blood Pressure           -0.000313
Blood Sugar               0.046731
Blood Glucose             0.105384
Reticulocyte Count        0.088754
Packed Cell Volume       -0.010880
Haemoglobin               0.019327
Red Blood Cell Count     -0.198384
White Blood Cell Count    0.052796
Blood Urea               -0.043078
Serum Creatinine         -0.038642
dtype: float64

## Step 1: Concept — What is Linear Regression?

Linear regression is a method we use to model the relationship between one dependent variable (Y) and one or more independent variables (X₁, X₂, X₃, …).

The goal is to find a line (or hyperplane, if there are many predictors) that best fits the data:
CKD Risk Score=β0​+β1​X1​+β2​X2​+…+βn​Xn​+ε

Where:

β₀ = intercept (baseline CKD risk when all other predictors = 0)

β₁, β₂, … βₙ = coefficients showing how much each variable affects CKD risk

ε = error term (unexplained variation)

### Step 2: In our CKD Context ,dependent variable (Y) is__CKD Risk Score

Our independent variables (X) include:

Blood Pressure, Blood Sugar, Age, Residence, Diabetes Mellitus, Hypertension, Alcohol Intake, Physical Activity, etc.

So the model tries to answer:

“How do these health and lifestyle factors combine to predict a person’s CKD Risk Score?”

## Step 3: Multiple vs Simple Regression

Simple regression: uses one predictor, e.g. only Blood Pressure.

Multiple regression: uses many predictors, e.g. BP + Age + Diabetes + Alcohol Intake.

Our assignment says to do multiple regression, so we’ll include all predictors except Patient ID and CKD Risk Score.

In [12]:
# Step 1: Define dependent and independent variables
y = df["CKD Risk Score"]  # dependent variable

# Exclude CKD Risk Score and Patient ID from predictors
X = df.drop(["ID", "CKD Risk Score"], axis=1)

# Step 2: Define categorical variables
categorical_vars = ["Residence", "Diabetes Mellitus", "Hypertension", "Alcohol Intake", "Physical Activity"]

# Step 3: Encode categorical variables into dummy variables
X_encoded = pd.get_dummies(X, columns=categorical_vars, drop_first=True)

# 🔹 Step 3b: Convert any boolean columns to numeric (1/0)
X_encoded = X_encoded.astype(int)  # Converts True/False → 1/0 and keeps numeric columns as they are

# Step 4: Check the new columns
X_encoded.head()

,Age,Blood Pressure,Blood Sugar,Blood Glucose,Reticulocyte Count,Packed Cell Volume,Haemoglobin,Red Blood Cell Count,White Blood Cell Count,Blood Urea,Serum Creatinine,Residence_Urban,Diabetes Mellitus_Yes,Hypertension_Yes,Alcohol Intake_Moderate,Physical Activity_Inactive,Physical Activity_Typical
0,86,123,2,119,1,20,14,6,6817,3,41,1,0,0,0,0,0
1,66,103,1,238,1,23,15,5,6438,1,84,1,1,0,0,0,0
2,24,151,0,372,2,40,13,2,11071,2,157,0,1,0,0,0,0
3,40,165,2,448,1,30,11,6,6594,1,190,0,1,0,0,0,0
4,43,113,1,301,2,52,15,4,12708,2,152,1,0,0,0,0,0

In [13]:
import statsmodels.api as sm

# Add constant (intercept)
X_with_const = sm.add_constant(X_encoded)

# Fit the model
model = sm.OLS(y, X_with_const).fit()

# View the summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         CKD Risk Score   R-squared:                       0.730
Model:                            OLS   Adj. R-squared:                  0.710
Method:                 Least Squares   F-statistic:                     36.82
Date:                Thu, 16 Oct 2025   Prob (F-statistic):           3.57e-56
Time:                        09:43:12   Log-Likelihood:                -909.69
No. Observations:                 250   AIC:                             1855.
Df Residuals:                     232   BIC:                             1919.
Df Model:                          17
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                         26.2487      6.128      4.284      0.000      14.176      38.321
Age                           -0.0629      0.030     -2.094      0.037      -0.122      -0.004
Blood Pressure                 0.0307      0.018      1.728      0.085      -0.004       0.066
Blood Sugar                    0.0886      0.352      0.251      0.802      -0.606       0.783
Blood Glucose                  0.0317      0.012      2.566      0.011       0.007       0.056
Reticulocyte Count             1.4951      1.619      0.923      0.357      -1.695       4.685
Packed Cell Volume            -0.1614      0.103     -1.566      0.119      -0.365       0.042
Haemoglobin                    0.4278      0.171      2.503      0.013       0.091       0.765
Red Blood Cell Count          -1.9453      0.571     -3.405      0.001      -3.071      -0.820
White Blood Cell Count        -0.0001      0.000     -0.755      0.451      -0.001       0.000
Blood Urea                    15.1102      0.728     20.756      0.000      13.676      16.544
Serum Creatinine              -0.0765      0.037     -2.072      0.039      -0.149      -0.004
Residence_Urban                3.0897      1.277      2.420      0.016       0.574       5.605
Diabetes Mellitus_Yes         11.2653      1.262      8.925      0.000       8.778      13.752
Hypertension_Yes               9.8852      1.243      7.950      0.000       7.435      12.335
Alcohol Intake_Moderate       -3.6416      1.307     -2.787      0.006      -6.216      -1.067
Physical Activity_Inactive    -1.2881      1.603     -0.803      0.423      -4.447       1.871
Physical Activity_Typical      1.1205      1.491      0.752      0.453      -1.817       4.058
==============================================================================
Omnibus:                        6.780   Durbin-Watson:                   1.971
Prob(Omnibus):                  0.034   Jarque-Bera (JB):                4.587
Skew:                          -0.183   Prob(JB):                        0.101
Kurtosis:                       2.446   Cond. No.                     1.01e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.01e+05. This might indicate that there are
strong multicollinearity or other numerical problems.